<div class="footer" id="down">
  <div class="text-container">
    <span class="text-one">
      &copy; 2020 &nbsp;&nbsp;<span class="fertical-line_before"></span>&nbsp;&nbsp; All
      Rights Reserved &nbsp;&nbsp; <span class="fertical-line_after"></span>&nbsp;&nbsp;
    </span>
    <span class="text-2">
      Developed with &#128151; by
      <button class="js-students footer__our-students">
        GoIT Students
      </button>
    </span>
  </div>
</div>