<footer class="footer" id="down">
  <div class="container">
    <p class="text-1">
      &copy; 2020 &nbsp;&nbsp;<span class="line-1"></span>&nbsp;&nbsp; All
      Rights Reserved &nbsp;&nbsp; <span class="line-2"></span>&nbsp;&nbsp;
    </p>
    <p class="text-2">
      Developed with &#128151; by
      <button class="js-students footer__our-students">
        GoIT Students
      </button>
    </p>
  </div>
</footer>