<footer class="footer" id="down">
        <div class="container">
          <p class="text-1">
            &copy; 2020 &nbsp;&nbsp;<span class="line-1">All
            Rights Reserved</span>&nbsp;&nbsp;  &nbsp;&nbsp; 
            <span class="line-2">&nbsp;&nbsp;</span>
          </p>
          <p class="text-2">
            Developed with &#128151; by
            <button class="js-students footer__our-students">
              GoIT Students
            </button>
          </p>
        </div>
      </footer>