    <div class="student-modal">
      <button type="button" class="student-modal__close-btn"></button>
      <h2 class="student-modal__form--title">Наша команда</h2>
      <ul class="student-modal__list">
        <li class="student-modal__item">
          <img class="student-modal__avatar" src="../images/Screenshot3.png" alt="Пользователь:" width="60" height="60"/>
          <p class="student-modal__name">Роман</p>
          <p class="student-modal__tasks">Team-lead "Банер"</p>
      </li>
      <li class="student-modal__item">
        <img class="student-modal__avatar" src="../images/photo_2020-05-14_14-29-27.jpg" alt="Пользователь:" width="60" height="60"/>
        <p class="student-modal__name">Олександр Балашов</p>
        <p class="student-modal__tasks">Team-lead</p>
        </li>
        <li class="student-modal__item">
            <img class="student-modal__avatar" src="../images/photo_2019-09-22_09-52-40.jpg" alt="Пользователь:" width="60" height="60"/>
            <p class="student-modal__name">Анна Горянина</p>
            <p class="student-modal__tasks">Модальне вікно</p>
        </li>
          <li class="student-modal__item">
            <img class="student-modal__avatar" src="../images/photo_2021-02-11_11-36-29.jpg" alt="Пользователь:" width="60" height="60"/>
            <p class="student-modal__name">Микола</p>
            <p class="student-modal__tasks">Body</p>
          </li>
          <li class="student-modal__item">
            <img class="student-modal__avatar" src="../images/Screenshot_1.png" alt="Пользователь:" width="60" height="60"/>
            <p class="student-modal__name">Влад Новаленко</p>
            <p class="student-modal__tasks">Header</p>
          </li>
          <li class="student-modal__item">
            <img class="student-modal__avatar" src="../images/Screenshot_2.png" alt="Пользователь:" width="60" height="60"/>
            <p class="student-modal__name">Єгор Гавриленко</p>
            <p class="student-modal__tasks">Мій кабінет</p>
        </li>
        <li class="student-modal__item">
          <img class="student-modal__avatar" src="../images/Screenshot_5.png" alt="Пользователь:" width="60" height="60"/>
          <p class="student-modal__name">Олександр Пашук</p>
          <p class="student-modal__tasks">Футер + мадальне вікно</p>
      </li>
        <li class="student-modal__item">
            <img class="student-modal__avatar" src="../images/Screenshot_4.png" alt="Пользователь:" width="60" height="60"/>
            <p class="student-modal__name">Міша Головчук</p>
            <p class="student-modal__tasks">Футер + мадальне вікно</p>
        </li>
    <li class="student-modal__item">
      <img class="student-modal__avatar" src="../images/photo_2020-06-23_10-53-30.jpg" alt="Пользователь:" width="60" height="60"/>
      <p class="student-modal__name">Анастасія</p>
      <p class="student-modal__tasks">Менеджер</p>
    </li>
      </ul>
 </div>
 
