<div class="backdrop-add">
  <div class="student-modal">
    <button type="button" class="student-modal__close-btn"></button>
    <h2 class="student-modal__form--title">Наша команда</h2>
    <ul class="student-modal__list">
      <li class="student-modal__item">
        <img class="student-modal__avatar" src="https://i.ibb.co/8DtkLrB/Screenshot3.png" alt="Пользователь:" width="60"
          height="60" />
        <p class="student-modal__name">Роман Синенко</p>
        <p class="student-modal__tasks">"Банер"</p>
      </li>
      <li class="student-modal__item">
        <img class="student-modal__avatar" src="https://i.ibb.co/DwS75dT/photo-2021-02-14-21-54-58.jpg"
          alt="Пользователь:" width="60" height="60" />
        <p class="student-modal__name">Олександр Балашов</p>
        <p class="student-modal__tasks">"Авторизація, створення та редагування оголошення"</p>
      </li>
      <li class="student-modal__item">
        <img class="student-modal__avatar" src="https://i.ibb.co/h7wxFxc/photo-2019-09-22-09-52-40.jpg"
          alt="Пользователь:" width="60" height="60" />
        <p class="student-modal__name">Анна Горяніна</p>
        <p class="student-modal__tasks">"Модальне вікно оголошення"</p>
      </li>
      <li class="student-modal__item">
        <img class="student-modal__avatar" src="https://i.ibb.co/ZmnPVFv/photo-2021-02-11-11-36-29.jpg"
          alt="Пользователь:" width="60" height="60" />
        <p class="student-modal__name">Микола Дера</p>
        <p class="student-modal__tasks">"Блок категорій"</p>
      </li>
      <li class="student-modal__item">
        <img class="student-modal__avatar" src="https://i.ibb.co/0hhW7xd/Screenshot-1.png" alt="Пользователь:"
          width="60" height="60" />
        <p class="student-modal__name">Влад Новаленко</p>
        <p class="student-modal__tasks">"Header"</p>
      </li>
      <li class="student-modal__item">
        <img class="student-modal__avatar" src="https://i.ibb.co/9V9VtW2/IMG-6423.jpg" alt="Пользователь:" width="60"
          height="60" />
        <p class="student-modal__name">Єгор Гавриленко</p>
        <p class="student-modal__tasks">"Мій кабінет"</p>
      </li>
      <li class="student-modal__item">
        <img class="student-modal__avatar" src="https://i.ibb.co/17tGNMB/Screenshot-5.png" alt="Пользователь:"
          width="60" height="60" />
        <p class="student-modal__name">Олександр Пашук</p>
        <p class="student-modal__tasks">"Футер"</p>
      </li>
      <li class="student-modal__item">
        <img class="student-modal__avatar" src="https://i.ibb.co/Hdbym78/Screenshot-4.png" alt="Пользователь:"
          width="60" height="60" />
        <p class="student-modal__name">Міша Головчук</p>
        <p class="student-modal__tasks">"Футер"</p>
      </li>
      <li class="student-modal__item">
        <img class="student-modal__avatar" src="https://i.ibb.co/BcfXyjq/photo-2020-06-23-10-53-30.jpg"
          alt="Пользователь:" width="60" height="60" />
        <p class="student-modal__name">Анастасія</p>
        <p class="student-modal__tasks">Менеджер</p>
      </li>
    </ul>
  </div>
</div>