<ul class="grid-list" id="list">
    {{#each this}}
    <li class="item-grid">
        <a class="link-goods" href="">
            <img class="img-goods" src="{{imageUrls}}" alt="{{title}}" />
            <h3 class="title-goods">{{title}}</h3>
            <p class="price-goods">{{price}} &#x020AC</p>
        </a>
    </li>
    {{/each}}
</ul>