<div class="backdrop-add">
    <div class="modal-auth">
        <form class="js__form form-auth">
            <h2 class="modal-auth-title">Вы точно хотите выйти из аккаунта?</h2>
            <div class="wrap-btn-submit">
                <button type=" submit" class="submit-auth login" name="loginOut">Выйти</button>
                <button type="button" class="submit-auth auth" id="cancelBtn">Отмена</button>
            </div>
            <button class="modal-add-close">X</button>
        </form>
        <div class="wrap-spinner">
            <div class="loader">
                <div class="inner one"></div>
                <div class="inner two"></div>
                <div class="inner three"></div>
            </div>
        </div>
    </div>
</div>