.banner {
    cursor: pointer;
    @media screen and (min-width: 1280px) {
        display: flex;
    }
}
.banner-siema {
    background: radial-gradient(circle, rgba(29, 69, 111, 1) 0%, rgba(4, 25, 46, 1) 100%);
    @media screen and (min-width: 1280px) {
        width: 66%;
        height: 485px;
    }
}
.slide-width {
    display: flex;
    align-items: center;
    height: 366px;
    @media screen and (max-width: 320px) {
        width: 300px;
    }
    @media (min-width: 321px) and (max-width: 767px) {
        width: 320px;
    }
    @media screen and (min-width: 768px) {
        width: 768px;
        height: 370px;
        flex-wrap: wrap;
        justify-content: center;
    }
    @media screen and (min-width: 1280px) {
        height: 480px;
    }
}
.banner-slide {
    display: flex;
    justify-content: center;
    @media (min-width: 321px) and (max-width: 767px) {
        height: 360px;
    }
    @media screen and (min-width: 768px) {
        height: 370px;
    }
}
.banner-image {
    width: 175px;
    height: 175px;
    right: 5px;
    @media screen and (min-width: 768px) {
        width: 300px;
        height: auto;
    }
}
.banner-content {
    @media screen and (max-width: 767px) {
        width: 140px;
        margin: 0 0 0 17px;
    }
    @media screen and (min-width: 768px) {
        width: 300px;
    }
}
.banner-title_text {
    font-weight: bold;
    line-height: 22px;
    width: 130px;
    color: #fff;
    font-size: 18px;
    @media screen and (min-width: 768px) {
        width: 269px;
        font-size: 40px;
        line-height: 48px;
    }
}
.banner-price-block {
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    margin: 0 0 0 16px;
    @media screen and (max-width: 320px) {
        margin: 0;
    }
    @media (min-width: 768px) {
        margin-top: 10px;
        height: 58px;
    }
}
.banner-price {
    color: #ff6b09;
    font-size: 34px;
    font-weight: bold;
    line-height: 42px;
    @media screen and (min-width: 768px) {
        font-size: 54px;
        line-height: 65px;
    }
}
.banner-price_currency {
    margin: 6px 6px 0 0;
    line-height: 12px;
    font-weight: bold;
    font-size: 14px;
    color: #ff6b09;
    @media screen and (min-width: 768px) {
        font-size: 17px;
        line-height: 17px;
    }
}
.swiper-container .swiper-pagination .swiper-pagination-bullet {
    background: #fff;
}
.item-container {
    cursor: pointer;
    height: 216px;
    display: flex;
    max-width: 100%;
}
.banner-items {
    display: flex;
    justify-content: center;
    align-items: center;
    &:first-child {
        background: #dddee2;
        .banner-item_price_block {
            color: black;
        }
        @media screen and (min-width: 1280px) {
            width: 33%;
        }
    }
    &:last-child {
        @media screen and (min-width: 1280px) {
            width: 34%;
        }
        .banner-item_price_block {
            color: #ff6b09;
            @media screen and (min-width: 1280px) {
                color: white;
            }
        }
    }
    &:nth-last-child(2n) {
        @media screen and (min-width: 1280px) {
            width: 33%;
            .banner-item_price_block {
                color: #ff6b09;
            }
        }
    }
    @media screen and (max-width: 1279px) {
        width: 50%;
    }
    @media screen and (min-width: 1280px) {
        &:last-child {
            background: #ff6b09;
        }
    }
}
.banner-item_img {
    width: 150px;
    height: 150px;
}
.banner-item_text {
    width: 160px;
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}
.banner-item_price {
    font-weight: bold;
    font-size: 43px;
    line-height: 51px;
}
.banner-item-price_currency {
    margin: 4px 5px 0 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 17px;
}
.banner-item_price_block {
    display: flex;
    margin-top: 10px;
}
.swiper-container {
    @media screen and (min-width: 1280px) {
        margin-left: 0;
    }
}
.item-cotainer_right_section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 242.5px;
    &:first-child {
        background: #dddee2;
    }
    &:last-child {
        .banner-item_price_block {
            color: #ff6b09;
        }
    }
}
.item-cotainer_right {
    width: 34%;
    height: 485px;
}
