.modal-auth {
  @extend %centered-form;
  width: 530px;
  background: #ffffff;
  box-shadow: 15px 15px 55px rgba(0, 0, 0, 0.3);

  @media screen and (max-width: 767px) {
    max-width: 80%;
    
  }

  .form-auth {
    padding: 50px;

    @media screen and (max-width: 767px) {
      padding: 20px;
    }

    .modal-auth-title {
      margin-bottom: 40px;
      text-align: center;

      @media screen and (max-width: 767px) {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
      }
    }

    .submit-auth {
      @extend %button;
      width: 240px;

      @media screen and (max-width: 767px) {
        font-size: 12px;
        line-height: 1.2;
        padding-left: 15px;

        text-align: center;
        letter-spacing: 0.02em;
      }

      &.login-button-modal {
        background: #ff6b09;
        color: #ffffff;
        margin-right: 20px;
        outline: none;
        border: 2px solid transparent;

        &[disabled] {
          @extend %disabled;
        }

        &:hover,
        &:focus {
          color: #000000;
          border: 2px solid #ff6b09;
        }

        @media screen and (max-width: 767px) {
          margin-right: 5px;
        }
      }

      &.auth-buttom-modal {
        background: transparent;
        border: 2px solid #bbbbbb;
        outline: none;
        margin-left: auto;

        &:hover,
        &:focus {
          color: #ff6b09;
          border: 2px solid #ff6b09;
        }
      }
    }

    .input-auth {
      width: 100%;
      height: 56px;

      padding-left: 20px;
      margin-bottom: 25px;

      background: transparent;
      border: 1px solid #bbbbbb;
      outline: none;

      &:focus {
        border: 2px solid #ff6b09;
        background: transparent;
      }

      &:not(:placeholder-shown) {
        border: 2px solid #ff6b09;
        background: transparent;
      }
    }

    .wrap-btn-submit {
      display: flex;
    }
  }
}

.modal-auth {
  .modal-add-close {
    position: absolute;
    top: 30px;
    right: 25px;
    margin: 0;

    border: 0;

    font-weight: 400;
    font-size: 18px;

    background: transparent;
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      color: #ff6b09;
    }
    &:focus {
      border: 1px solid #ff6b09;
    }

    @media screen and (max-width: 767px) {
      top: 7px;
      right: 7px;
    }
  }
}

// ******** SPINNER **********
.wrap-spinner {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(255, 255, 255, 0.6);

  &.is-active {
    display: block;
  }
}

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #ff6b09;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #ff6b09;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #ff6b09;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
