ul {
  padding-inline-start: 0;
}

.root-user-account {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 38px;
  // padding-top: 20px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    max-width: 1024px;
    margin: 0 auto;
  }

  @media screen and (max-width: 767px) {
    max-width: 480px;
    margin: 0 auto;
    padding: 40px 15px;
  }
}

.btn-my-account {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.title-root__user-calls {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  margin: 0;
  margin-right: 12px;

  @media screen and (max-width: 767px) {
    font-size: 17px;
  }
}

.title-root__lookall-btn {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #ff6b09;
}

.title-root {
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;
  // margin-left: 77px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 24px;
    // margin-left: 123px;
  }

  @media screen and (max-width: 767px) {
    font-size: 17px;
    margin-left: 0;
  }
}

.card-call {
  max-width: 100%;
  height: 330px;
  // margin-right: 45px;
  background: #ffffff;
  list-style: none;
  // margin-bottom: 20px;
  // box-shadow: 0 0 4px rgba(59, 59, 59, 0.3);
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    // margin-right: 30px;
    max-width: 100%;
    height: 306px;
  }

  &:hover,
  &:focus {
    transform: scale(1.05);
    box-shadow: 4px 4px 69px 38px rgba(82, 85, 88, 0.79);
  }
}

// .card-call:nth-last-child(2n + 1) {
//   @media screen and (min-width: 768px) and (max-width: 1279px) {
//     margin-right: 0px;
//   }
// }

.card-call__title-container {
  height: 87px;
  // width: 268px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    height: 64px;
  }
}

.card-call__img {
  width: 100%;
  height: 239px;
  object-fit: cover;
}

.card-call__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 7px;
}

.card-call__price {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ff6b09;
  margin: 0;
}

.card-container {
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    max-width: 1024px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 767px) {
    max-width: 480px;
    grid-template-columns: 1fr;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // padding-inline-start: 0px;
  }
}

.button-container {
  text-align: center;
}

.card-btn {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.card-btn:hover {
  color: #ff6b09;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.swiper-container .swiper-pagination .swiper-pagination-bullet {
  background: #ff6b09;
}
