.modal-auth {
  @extend %centered-form;
  width: 530px;

  background: #ffffff;

  box-shadow: 15px 15px 55px rgba(0, 0, 0, 0.3);

  @media screen and (max-width: 480px) {
    width: 290px;
  }
  .form-auth {
    padding: 50px;

    .modal-auth-title {
      margin-bottom: 40px;
      text-align: center;
    }

    .submit-auth {
      @extend %button;
      width: 200px;

      &.login {
        background: #ff6b09;
        color: #ffffff;
        margin-right: 20px;
        outline: none;
        border: 2px solid transparent;

        // &[disabled] {
        //   @extend %disabled;
        // }

        &:hover,
        &:focus {
          color: #000000;
          border: 2px solid #ff6b09;
        }
      }

      &.auth {
        background: transparent;
        border: 2px solid #bbbbbb;
        outline: none;
        // border: 1px solid transparent;

        &:hover,
        &:focus {
          color: #ff6b09;
          border: 2px solid #ff6b09;
        }
      }
    }

    .input-auth {
      padding-left: 20px;
      margin-bottom: 25px;
      outline: none;

      &:focus {
        border: 2px solid #ff6b09;
      }

      &:not(:placeholder-shown) {
        border: 2px solid #ff6b09;
      }
    }
  }
}

.modal-auth {
  .label-auth {
    .input-auth {
      width: 426px;
      height: 56px;

      background: #ffffff;
      border: 1px solid #bbbbbb;
    }
  }

  .modal-add-close {
    position: absolute;
    top: 30px;
    right: 25px;
    margin: 0;

    border: 0;

    font-weight: 400;
    font-size: 18px;

    background: transparent;
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      color: #ff6b09;
    }
    &:focus {
      border: 1px solid #ff6b09;
    }
  }
}
