.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}
.modal {
  display: flex;
  border-radius: 4px;
  background-color: #fff;
  padding-top: 55px;
  padding-left: 18px;
  padding-right: 16px;
  max-width: 290px;
  min-height: 780px;
}
.image-list {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  width: 253px;
}
.image-list .imgWrapper:first-child {
  position: absolute;
}
.imgWrapper {
  display: flex;
  width: 253px;
  height: 253px;
}
.image_main {
  display: block;
  width: 100%;
}

.add {
  display: flex;
  padding-bottom: 30px;
}
.title-box {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.close {
  position: absolute;
  left: 280px;
  bottom: 30px;
  border: none;
  background-color: inherit;
  width: 14px;
  height: 14px;
}
.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 0;
  padding-bottom: 5px;
}
.code_product {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #878686;
  padding-bottom: 30px;
  margin: 0;
}

.price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ff6b09;
  padding-bottom: 40px;
  margin: 0;
}
.infoBtn {
  @extend %button;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 14px;
  color: #ffffff;
  background-color: #ff6b09;
  margin: 0;
  width: 254px;
  height: 60px;
}
.add {
  padding-top: 20px;
}
.favorites {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #878686;
  margin: 0;
  padding-right: 13px;
}
.card_vector-notActiv {
  // width: 14px;
  // height: 12px;

  // background: #878686;
  border: #878686;
}
.share {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #878686;
  margin: 0;
  padding-left: 40px;
  padding-right: 13px;
}
.title_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #878686;
  margin: 0;
  padding-bottom: 10px;
}
.description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .modal {
    display: flex;
    flex-direction: column;
  }
  .image-list {
    width: 253px;
  }
  .swiper-container {
    width: 253px;
    height: 253px;
  }
  .swiper-pagination {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #ff6b09;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .modal {
    padding-top: 57px;
    padding-left: 57px;
    padding-bottom: 64px;
    padding-right: 52px;
    max-width: 724px;
    min-height: 530px;
  }

  .image-list .imgWrapper:first-child {
    width: 281px;
    height: 333px;
  }
  .imgWrapper {
    width: 55px;
    height: 55px;
    padding-right: 10px;
    padding-top: 16px;
  }
  .swiper-container {
    width: 281px;
    height: 333px;
  }
  .description_wrapper {
    padding-left: 38px;
  }
  .infoBtn {
    width: 300px;
    height: 60px;
  }
}
@media (min-width: 1280px) {
  .modal {
    padding-top: 54px;
    padding-left: 94px;
    padding-bottom: 66px;
    padding-right: 125px;
    max-width: 1025px;
    min-height: 674px;
  }
  .image-list {
    width: 428px;
  }
  .image-list .imgWrapper:first-child {
    width: 428px;
    height: 465px;
  }
  .imgWrapper {
    width: 75px;
    height: 75px;
    padding-right: 10px;
    padding-top: 16px;
  }
  .swiper-container {
    width: 428px;
    height: 465px;
  }
  .description_wrapper {
    padding-left: 38px;
  }
  .infoBtn {
    width: 255px;
    height: 60px;
  }
}
