.card-backdrop {
  // // display: flex;
  // justify-content: center;
  // align-items: center;
  position: fixed;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  // z-index: 999;
}
.card-modal {
  display: flex;
  position: absolute;
  border-radius: 4px;
  background-color: #fff;
  padding-top: 55px;
  padding-left: 18px;
  padding-right: 16px;
  max-width: 290px;
  // height: 674px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // min-height: 780px;
}
.card-image-list {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  width: 253px;
}
.card-image-list .card-imgWrapper:first-child {
  position: absolute;
  top: 0;
  left: 0;
}
// .image-list .imgWrapper:not(:first-child) {
//   align-items: flex-end;
// }
.card-imgWrapper {
  display: flex;
  width: 253px;
  height: 253px;
}
.card-image_main {
  display: block;
  width: 100%;
  object-fit: cover;
}

.card-add {
  display: flex;
  padding-bottom: 30px;
  color: #878686;
}
// .title-box {
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   display: flex;
//   justify-content: space-between;
// }

.card-close {
  position: absolute;
  left: 280px;
  bottom: 30px;
  border: none;
  background-color: inherit;
  width: 14px;
  height: 14px;
}
.card-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 0;
  padding-bottom: 5px;
}
.card-code_product {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #878686;
  padding-bottom: 30px;
  margin: 0;
}

.card-price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ff6b09;
  padding-bottom: 40px;
  margin: 0;
}
.card-infoBtn {
  @extend %button;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #ffffff;
  background-color: #ff6b09;
  margin: 0;
  width: 254px;
  height: 60px;
  padding: 0 10px;
}
.card-infoBtn-open {
  background-color: #ffffff;
  border: #ff6b09;
  color: #000000;
}
.card-add {
  padding-top: 20px;
}
.card-favorites {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #878686;
  margin: 0;
  padding-right: 13px;
}
.card-card_vector-notActiv {
  // width: 14px;
  // height: 12px;

  // background: #878686;
  border: #878686;
}
.card-share {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #878686;
  margin: 0;
  padding-left: 40px;
  padding-right: 13px;
}
.card-title_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #878686;
  margin: 0;
  padding-bottom: 10px;
}
.card-description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .card-modal {
    display: flex;
    flex-direction: column;
    min-height: 780px;
  }
  .card-image-list {
    width: 253px;
  }
  .card-imgWrapper {
    padding: 10px 0;
  }
  .card-swiper-container {
    width: 253px;
    height: 253px;
  }
  .card-title-box {
    position: absolute;
    top: 10px;
    left: 18px;
    display: flex;
    justify-content: space-between;
  }
  .card-close {
    position: absolute;
    left: 240px;
    bottom: 15px;
  }
  .card-code_product {
    position: absolute;
    top: 35px;
    left: 18px;
  }
  .card-price {
    padding-bottom: 30px;
  }

  // .swiper-pagination {
  //   width: 5px;
  //   height: 5px;
  //   border-radius: 5px;
  //   background-color: #ff6b09;
  // }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .card-modal {
    padding-top: 57px;
    padding-left: 57px;
    padding-bottom: 64px;
    padding-right: 52px;
    max-width: 724px;
    min-height: 530px;
  }
  .card-image-list {
    width: 281px;
  }

  .card-image-list .card-imgWrapper:first-child {
    display: block;
    width: 281px;
    height: 333px;
    // height: auto;
  }
  .card-imgWrapper {
    width: 55px;
    height: 55px;
    padding-right: 10px;
    padding-top: 16px;
  }
  .card-image_main {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  // .swiper-container {
  //   width: 281px;
  //   height: 333px;
  // }
  .card-description_wrapper {
    padding-left: 38px;
  }
  .card-infoBtn {
    width: 300px;
    height: 60px;
  }
  .card-title-box {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  // .swiper-container,
  // .swiper-wrapper,
  // .swiper-slide {
  //   display: none;
  // }
}
@media (min-width: 1280px) {
  .card-modal {
    padding-top: 54px;
    padding-left: 94px;
    padding-bottom: 66px;
    padding-right: 125px;
    max-width: 1025px;
    min-height: 674px;
  }
  .card-image-list {
    width: 428px;
  }
  .card-image-list .card-imgWrapper:first-child {
    display: block;
    width: 428px;
    height: 465px;
    // height: auto;
  }
  .card-image_main {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .card-imgWrapper {
    width: 75px;
    height: 75px;
    padding-right: 10px;
    padding-top: 16px;
  }
  // .swiper-container {
  //   width: 428px;
  //   height: 465px;
  // }
  .card-description_wrapper {
    padding-left: 38px;
  }
  .card-infoBtn {
    width: 255px;
    height: 60px;
    padding: 0 25px;
  }
  .card-title-box {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  // .swiper-container,
  // .swiper-wrapper,
  // .swiper-slide {
  //   display: none;
  // }
}
