<header>
    <div>
        <a class="logo" href="/">
            {{!-- <svg width="71" height="44" aria-label="Лого">
                <use href="../svg/sprite.svg#icon-logo" class="icon-menu"></use>
            </svg> --}}
        </a>
        <input type="text">
        <a href="">Регистрация</a>
        <span>|</span>
        <a href="">Войти</a>
        <button>Создать объявление</button>
    </div>


    <nav>
        {{#each this}}
        <button>{{this}}</button>
        {{/each}}
    </nav>

</header>