<div class="backdrop">
    <div class="modal-auth">
        <form class="js__form form-auth">
            <h2 class="modal-auth-title">Вы точно хотите выйти из аккаунта?</h2>
            <button type=" submit" class="submit-auth login" name="login">Выйти</button>
            <button type="button" class="submit-auth auth modal-add-close" id="cancelBtn">Отмена</button>
        </form>
    </div>
</div>