.backdrop-add {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  .modal-add {
    @extend %centered-form;

    width: 950px;
    height: 698px;
    padding: 54px 58px 60px;

    background: #ffffff;

    .modal-add-close {
      position: absolute;
      top: 30px;
      right: 25px;
      margin: 0;

      border: 0;

      font-weight: 400;
      font-size: 18px;

      background: transparent;
    }
  }
}

.form-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ::placeholder {
    color: #bbbbbb;
  }

  .label-add {
    // position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;

    & #triangle-down {
      position: absolute;
      top: 25px;
      right: 40px;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 10px solid #000000;
      cursor: pointer;

      &:hover {
        border-top-color: #ff6b09;
      }
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 40px;
    }

    .fields {
      font-weight: 500;

      color: #000000;

      &.photo {
        margin-right: 188px;
      }
    }

    .input-form {
      width: 610px;
      height: 56px;
      margin-left: auto;
      padding: 23px;

      background: #ffffff;
      border: 1px solid #bbbbbb;
      outline: none;

      &:hover,
      &:focus {
        border: 1px solid #ff6b09;
      }

      &:not(:placeholder-shown) {
        border: 1px solid #ff6b09;
      }
    }

    .inputfile {
      @extend %visually-hidden;
    }

    .file {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 78px;
      height: 50px;
      color: #bbbbbb;
      margin-right: 10px;

      background: #f5f6fb;
      cursor: pointer;

      &:first-child {
        margin-left: 288px;
      }

      .preload-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .btn-form-add {
    @extend %button;

    width: 286px;
    background: #ff6b09;
    color: #ffffff;
    outline: none;

    &:focus,
    &:hover {
      color: #000000;
    }
  }
}

.backdrop-add {
  .title-form-add {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;

    color: #000000;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .modal-add-close {
    cursor: pointer;
    outline: none;

    &:hover {
      color: #ff6b09;
    }
    &:focus {
      color: #ff6b09;
      border: 1px solid #ff6b09;
    }
  }

  .label-category {
    position: relative;

    & .wrap-category {
      display: none;
    }
  }

  .label-category:hover .wrap-category {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    list-style: none;
    width: 610px;
    height: 200px;
    background-color: #ffffff;

    font-size: 16px;
    // color: #000000;

    margin: 0;
    padding: 0;
    text-align: center;

    .category-link {
      display: inline-block;
      padding: 4px 0;
      font-size: 18px;
      color: #000000;
      text-decoration: none;

      &:hover {
        color: #ff6b09;
      }
    }
  }
}
